<div class="top_space"></div>
<%= @logo %>
<div class="top_space"></div>

<div class="right">
<strong>Leasehold & Right To Buy Service</strong> <br>
  Hackney Service Centre <br>
  1 Hillman Street <br>
  London E8 1DY

<p>
  Tel: 020 8356 2299 <br>
  Email: service.charges@hackney.gov.uk <br><br>
  <strong>Service Charge Account Number: <%= @letter.payment_ref %> <br></strong>
  Our Ref: LBA/ID <br>
  <%= @sending_date_lba %>
</p>
</div>

<div class="lessee_address">
  <br>
  <strong><%= @letter.lessee_full_name %></strong> <br>
  <%= @letter.correspondence_address1 %> <br>
  <%= @letter.correspondence_address2 %> <br>
  <%= @letter.correspondence_address3 %> <br>
  <%= @letter.correspondence_address4 %> <br>

  <%= @letter.correspondence_postcode %>
</div>

<div>
Dear <%= @letter.lessee_short_name %>

<p>
<strong>Property address: <%= @letter.property_address%> </strong>
</p>

<div class="green_box">
  <p class="centre">
  <strong>FINAL LETTER BEFORE LEGAL ACTION FOR UNPAID SERVICE CHARGES</strong><br>
  </p>
  <h1 class="centre">
  SUM OWED: £<%= @letter.lba_balance %>
  </h1>
</div>

<p>
Our records show you have not paid your service charges and ground rent amounting to £<%= @letter.lba_balance %> which is a breach of your lease. We have sent you at least two reminder letters asking for payment but we have still not received what is owed from you.
</p>

<p><strong>We ask that you settle the outstanding debt within 30 days of this letter to avoid the matter being referred to our solicitors for debt recovery action to be taken.</strong></p>
<p>
If you are unable to settle your account in full and would like to discuss your arrears or to arrange an <strong>instalment plan</strong>, please contact our Leasehold Services team on 020 8356 2299.
</p>

<p>
If you have made arrangements to pay or cleared the arrears in the last 7 days, please ignore this letter.
</p>

<p>
If you are facing financial difficulties, please complete and return the enclosed forms <strong>no later than <%= @return_date_lba %></strong> to allow us to assess your circumstances and the options available to you.
</p>

<p>
  Please note that we may carry out credit assessment from credit reference agencies before we agree any installment plan. The agencies will record our enquiries which may be seen by other companies who make their own credit enquiries. This may affect your ability to obtain credit elsewhere in the near future.
</p>

<p>
Government assistance may be available towards making payment of your service charges if you qualify. The enclosed information sheet provides details of independent organisations that offer free, impartial and non-judgemental advice to you should you need this.
</p>

<h2>Why am I being pursued for unpaid service charges?</h2>

<p>
Under the terms of your lease/transfer agreement, you are <u>required</u> to pay ground rent and service charges.
</p>

<p>
We are writing to you as your non-payment of service charges and ground rent totalling £<%= @letter.lba_balance %> is a breach of these terms.
</p>

<div class="new_page"></div>

<h2>What will happen if I don’t pay the outstanding service charges?</h2>
<p>
Failure to make payment or contact us by <%= @return_date_lba %> will result in legal action being taken in the County Court without further notice.
</p>

<p>
Should legal action be necessary, any increase to the arrears stated above will be added. All court costs, including the Council’s, and legal fees will also be added, which could increase the sum owed by up to 8%.
</p>

<p>
If you choose to ignore any court order judgement and you still have not paid the arrears, we will have no option but to take further action against you. This would include issuing further and stronger legal proceedings that may result in you losing your home. Where applicable, we will contact your mortgage lender to advise them of our intentions to pursue recovery of this debt.
</p>

<h2>How can I make payment?</h2>
<p>
To pay by debit or credit card over the phone please call 020 8356 2299 between 9am and  5pm Monday to Friday. Alternatively, cheques should be made payable to ‘London Borough of Hackney’. Further details of these payment options are enclosed.
</p>

<h2>What will happen if I pay late?</h2>
<p>
Should you make payment after the 30 days have elapsed but before a claim is sent for issuing to court, you should contact the Council immediately or you may still be at risk for court costs. Similarly, paying after a claim has been submitted for issuing to court will result in you being liable for interest and costs.
</p>

<p>
If you have any queries regarding this matter please contact <strong><%= @username %> on 020 8356 2299.</strong>
</p>

<p>
Yours sincerely,<br>
<img src="data:image/png;base64, <%= @signature_base64 %>" %><br>
<strong>On Behalf of Leasehold & Right to Buy Services</strong>
</p>
</div>

<%= @payment_options %>

<div class="new_page"></div>
<div>
<h2 class="centre"><strong>ANNEX 1 INFORMATION SHEET</strong></h2>

<p class="centre"><strong>You have received this notice because a business intends to take you to court in
relation to a debt. This notice tells you what to do next, including how to avoid
court action. Please read it carefully.</strong></p>

<h2>What should I do now to make sure I am not taken to court unnecessarily?</h2>

<p>Read the enclosed letter from the business very carefully. Think about whether you owe
the debt and whether the amount is correct. The letter should provide information about
how much money you owe and any interest and fees added to the debt. If it doesn’t, ask
the business for more information.
</p>

<p>Once you have read the letter, consider the following options.</p>
<ul>
<li><strong>Seeking debt advice.</strong></li>
<p>If you are in financial difficulty or need advice to help you work out whether you owe the
debt, or how you might pay the debt, contact a debt advisor (particularly if you haven’t
been in contact with the business for a number of years).
</p>

<p>The following organisations offer free, impartial and non-judgemental advice:</p>

<table>
<tr>
<td>Citizens Advice</td>
<td>03444 111 444(England)<br>
03444 772 020(Wales)</td>
<td>www.citizensadvice.org.uk</td>
</tr>
<tr>
<td>Civil Legal Advice</td>
<td>0345 345 4345</td>
<td>www.gov.uk/civil-legal-advice</td>
</tr>
<tr>
<td>StepChange Debt Charity</td>
<td>0800 138 1111 (Freephone)</td>
<td>www.stepchange.org</td>
</tr>
<tr>
<td>National Debtline</td>
<td>0808 808 4000 (Freephone)</td>
<td>www.nationaldebtline.org</td>
</tr>
<tr>
<td>AdviceUK</td>
<td>0300 777 0107</td>
<td>www.adviceuk.org.uk</td>
</tr>
<tr>
<td>Christians Against Poverty</td>
<td>0800 328 0006 (Freephone)</td>
<td>www.capuk.org</td>
</tr>
</table>

<p class="centre"><strong>It is recommended that you get debt advice if you have any doubt about whether
you owe the debt or whether you can pay it now.</strong></p>

<p>If you don’t have a copy of the agreement (contract) between you and the business, and
you need this to decide what to do next or to help you get debt advice, you can ask the
business to provide you with a copy.</p>

<li><strong>Speaking to the business.</strong></li>
<p>If you agree you owe the debt and want to talk to the business about payment terms, or if
you have any questions or concerns, get in touch with the business as soon as possible.
Their contact details should be in the letter they sent you.
</p>

<li><strong>Filing in the Reply Form.</strong></li>
<p>If you have not been able to resolve the matter by speaking to the business, you should fill
in the Reply Form that was provided with the letter from the business, and then send it
back to the business. You should complete the Reply Form with as much information as
possible to avoid court action being taken against you.
</p>
</ul>

<div class="new_page"></div>

<h2>How long do I have to fill in the Reply Form?</h2>
<p>You only have <strong>30 days</strong> from the date at the top of the letter from the business to send
back the Reply Form. If the business does not get your Reply Form withing 30 days, it
could <strong>take you to court</strong> in relation to the debt. Make sure you allow time for posting.
<br>
<br>
If a court orders you to pay an amount of money (called "having judgement entered against
you"), details of the judgement will usually be entered on the Register of Judgements,
Orders and Fines. Most entries stay on the Register for six years unless you pay the
amount you owe within one month of the judgment
<br>
<br>
Organisations such as banks, buliding societies and credit companies use the information
on the Register when someone applies for credit, such as a loan or overdraft. It helps
them decide whether or not that person would be able to pay off a debt.
</p>

<h2>What happens if I fill in and return the Reply Form in time?</h2>
<p>If you return the Reply Form within 30 days, you and the business will have at least a
further 30 days to discuss the debt, or for you to seek debt advice, before the business
takes you to court. During that time you should discuss with the business how you can
resolve the matter, ideally without going to court.
<br>
<br>
If you request more information in the Reply Form, the business must wait at least 30
days after it gives you that information before taking you to court.
</p>

<h2>Where can I find out more?</h2>
<p>This Information Sheet is a summary of your rights and responsibilities under the
Pre-Action Protocol for Debt Claims. Where a business and an individual disagree about a
debt claim, the Protocol tells them what they should do before they go to court. If you want
to know more, the full Protocol is available at:<br>
https://www.justice.gov.uk/courts/procedure-rules/civil/protocol.
</p>
</div>

<%= @reply_form_lba %>

<%= @financial_statement_lba %>

<%= @payment_tables_lba %>
