<%= @logo %>
<div class="top_space"></div>

<%= @sender_address %>

<div class="lessee_address">
  <strong><%= @letter.lessee_full_name %></strong> <br>
  <%= @letter.correspondence_address1 %> <br>
  <%= @letter.correspondence_address2 %> <br>
  <%= @letter.correspondence_address3 %> <br>
  <%= @letter.correspondence_postcode %>
</div>

<div>
  Dear <%= @letter.lessee_short_name %>,

  <p>
    <strong>Leaserholder of the property:</strong> <br>
    <%= @letter.property_address %>
  </p>

  <div class="green_box">
    Our records show that you still have the outstanding amount on your rent & service charge account:
    <h1>£<%= @letter.total_collectable_arrears_balance %></h1>
    <p>
        It is important that your accounts are kept up to date as non-payment of your service charge
        is a breach of your lease agreement with Hackney Council.
    </p>
  </div>



  <p>
    We write further to our previous letter of the <%= @letter.arrears_letter_1_date %> informing you
    of the arrears on your Service Charge account in respect of the above mentioned property.
  </p>

  <p>
    the amount of <%= @letter.total_collectable_arrears_balance %> remains outstanding. Please contact us within 7 days to
    inform us how you intend to pay.
  </p>


  <h2>What happens if I do not pay?</h2>
  <p class="no_top_margin">
    If we do not receive payment, or you do not contact us to agree a suitable payment
    arrangement, interest will be applied to your account and we will pass this debt to the
    Hackney Council’s Legal Department for recovery. Any legal costs incurred by Hackney
    Council will be added to the balance claimed. Where applicable, we will write to your
    Mortgage lender informing them of the breach of your Lease.
  </p>

  <h2>What if you are currently experiencing financial difficulties?</h2>
  <p class="no_top_margin">
    If you are experiencing ongoing financial difficulties, you may be eligible for Government
    assistance.  Please complete and return the financial assessment attached so we can
    assess your eligibility for assistance and signpost you to the correct services. You can
    contact us on 020 8356 2299 if you would like to discuss any concerns you may have
    addressing the repayment of this debt. You may also wish to seek independent
    guidance from your local Citizen’s Advice Bureau.
  </p>

  <p>
    Yours sincerely (faithfully if a company)<br>
    Leasehold Services
  </p>

</div>

<%= @payment_options %>

<%= @reply_form %>

  <div>
    <h2>STANDARD FINANCIAL STATEMENT</h2>
    <p class="no_top_margin">
      Please complete the form in as much detail as possible. This will enable us to accurately
      review your income and expenditure as well as your total outgoings. Wherever possible
      please provide supporting documents (such as council tax bills, wage slips, etc) for the
      information detailed below.
    </p>

    <table>
      <tr>
        <th>Name</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Date of birth</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Application</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Application</th>
        <th>Single</th>
        <td></td>
        <th>Joint</th>
        <td colspan='2'></td>
      </tr>
      <tr>
        <th>Partner (if applicable)</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Partner DOB</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Address</th>
        <td colspan='5'>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan='5'>&nbsp;</td>
      </tr>
      <tr>
        <th>No of dependent children</th>
        <th>Under 16</th>
        <td>&nbsp;</td>
        <th>16-18</th>
        <td colspan='2'></td>
      </tr>
      <tr>
        <th>Other dependents</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Number of household members:</th>
        <td>&nbsp;</td>
        <th colspan='3'>Number of vehicles in family:</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th colspan='4'>
          Please confirm you have considered (or discussed
          with an adviser) the user of any assets to make
          lump sum payments
        </th>
        <th>Tick to confirm</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>Contact/team name</th>
        <td colspan='5'>&nbsp;</td>
      </tr>
      <tr>
        <th>Agency</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Agency address</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Case reference no</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Employment status</th>
        <th>Full time</th>
        <td>&nbsp;</td>
        <th>Part Time</th>
        <td colspan='2'></td>
      </tr>
      <tr>
        <th>Unemployed</th>
        <td></td>
        <th>Retired</th>
        <td></td>
        <th>Carer</th>
        <td></td>
      </tr>
      <tr>
        <th>Not working due to illness or disability</th>
        <td>&nbsp;</td>
        <th colspan='2'>Student</th>
        <td colspan='2'></td>
      </tr>
      <tr>
        <th>Other (give details)</th>
        <td colspan='5'></td>
      </tr>
      <tr>
        <th>Date of statement</th>
        <td colspan='5'></td>
      </tr>
    </table>
  </div>

  <div>
    <table>
      <tr>
        <th class="centre" colspan="4">YOUR INCOME</th>
      </tr>
      <tr>
        <th>If income is variable enter an average</th>
        <th>Amount</th>
        <th>How often?</th>
        <th>Per Calendar Month</th>
      </tr>
      <tr>
        <td>Your Wage</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Your partner’s wage</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Part-time wages</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Child benefit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Rent or board received</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>State pensions</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Private pension(s)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Pension credit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Employment and support allowance (ESA)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Job Seeker’s allowance (JSA)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Child support or CSA</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Disability Living Allowance (DLA)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Income Support</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Working Tax Credit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Child Benefit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Housing Benefit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style ="text-align:right;" colspan="3">TOTAL INCOME</td>
        <td></td>
      </tr>
    </table>

    <table>
      <tr>
        <th class="centre" colspan="4">YOUR LIVING COSTS</th>
      </tr>
      <tr>
        <th>Enter the total amount you pay including arrears</th>
        <th>Amount</th>
        <th>How often?</th>
        <th>Per Calendar Month</th>
      </tr>
      <tr>
        <th colspan="4">HOUSEHOLD AND UTILITY BILLS</th>
      </tr>
      <tr>
        <td>Rent</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mortage</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Secured Loan</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mortgage endowment premium</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Service charge or ground rent</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Water</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Council Tax</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Gas</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Electricity</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Other household fuels (oil, coal etc)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="4">HOUSEHOLD SERVICES</th>
      </tr>
      <tr>
        <td>Buildings and contents</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Telephone and internet</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>TV licence</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Satellite or cable TV</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Repairs, service contracts</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Appliance rental</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Child support paid by you</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Childcare</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Life insurance & private pension</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Medical or accident insurance </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="4">TRAVEL</th>
      </tr>
      <tr>
        <td>Spares and servicing</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Road tax</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Car insurance</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Breakdown cover</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Fuel and parking</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Public transport</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="4">FOOD AND HOUSEKEEPING</th>
      </tr>
      <tr>
        <td>Food, toiletries and cleaning</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Meals at work</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>School meals</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Pets (food and insurance)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Tobacco</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Clothing and footwear</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="4">OTHER SERVICES</th>
      </tr>
      <tr>
        <td>School trips and activities</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Medicines and prescriptions</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Dentist,optician</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Hairdressing</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Professional or union fees</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Education fees</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Laundry or dry cleaning</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="4">PERSONAL &  LEISURE</th>
      </tr>
      <tr>
        <td>Newspapers & magazines</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Sports, hobbies and entertainment</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Children’s pocket money</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Church or charity donations</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Sundries and emergencies</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="4">OTHER COSTS</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style ="text-align:right;" colspan="3">TOTAL EXPENSES</td>
        <td></td>
      </tr>
    </table>
  </div>
