<%= @logo %>
<div class="top_space"></div>

<div class="right">
  <%= @sender_address %>
  <p>Our ref: REFREF</p>
  <%= @sending_date %>
</div>

<div class="lessee_address">
  <strong><%= @letter.lessee_full_name %></strong> <br>
  <%= @letter.correspondence_address1 %> <br>
  <%= @letter.correspondence_address2 %> <br>
  <%= @letter.correspondence_address3 %> <br>
  <%= @letter.correspondence_postcode %>
</div>

<div>
  Dear <%= @letter.lessee_short_name %>,

  <p>Your rent account is <%= arrears_balance %> in debt.</p>
  <h1>Please pay the full amount now using any of the following methods:</h1>
  <ul>
    <li>Hackney's Rent Account Website: <strong>https://www.hackney.gov.uk/rentaccount.</strong></li>
    <li>By telephone: 020 8356 5050 (24 hours payline)</li>
    <li>Pay in person: at 2 Hillman Street, E8 1FB from Monday to Friday (9am to 5pm)</li>
    <li>Visit <strong>https://www.hackney.gov.uk/housing-payments</strong>, to find out about all our available payment methods.</li>
  </ul>

  <h1>If you are unable to do so please contact us as soon as you can:</h1>
  <ul>
    <li>By telephone on 020 8356 3100</li>
    <li>By email at <strong>income.services@hackney.gov.uk</strong></li>
    <li>In person at Hackney Service Centre at 1 Hillman Street, E8 1FB</li>
    <li>Through a third party such as a family member, friend, carer, or an advice agency such as the Citizen's Advice Bureau. To ensure confidentiality, we will ask for proof that you have given them permission to discuss your account with us.</li>
  </ul>

  <h1>More information</h1>
  <p>You can view your rent account and make a payment at any time by visiting our website - <strong>www.hackney.gov.uk/rentaccount</strong> using your payment reference number shown above. If you think there might be a problem with your housing benefit claim, please contact the housing benefit team on 020 8365 3399 or visit them at Hackney Service Centre, 1 Hillman Street, London E8 1DY. If you are experiencing problems with Universal Credit, please contact the Department for Work and Pensions.</p>

  <p>We can put you in touch with someone who can provide you with financial help and assistance if you need it. Give us a call and we'll arrange this for you.</p>

  <p>
    Yours sincerely,<br>
    Income Collection Officer<br>
    London Borough of Hackney
  </p>

</div>

<%= @payment_options %>
