<div class="top_space"></div>

<div class="right">
<strong>Leasehold & Right To Buy Service</strong> <br>
  Hackney Service Centre <br>
  1 Hillman Street <br>
  London E8 1DY

<p>
  020 8356 2299 <br>
  service.charges@hackney.gov.uk <br>
  <strong>Service Charge Account Number: <%= @letter.payment_ref %> <br></strong>
  Our Ref: LBA/ST
  <%= @sending_date + 1.day %>
</p>
</div>

<div class="lessee_address">
  <strong><%= @letter.lessee_full_name %></strong> <br>
  <%= @letter.correspondence_address1 %> <br>
  <%= @letter.correspondence_address2 %> <br>
  <%= @letter.correspondence_address3 %> <br>
  <%= @letter.correspondence_address4 %> <br>

  <%= @letter.correspondence_postcode %>
</div>

<div>
Dear <%= @letter.lessee_short_name %>

<p>
<strong>RE: <%= @letter.property_address%> </strong>
</p>

<div class="blue_box">
<strong class="centre">FINAL LETTER BEFORE LEGAL ACTION</strong><br>
Our records show that you still have an outstanding balance on your service charge account of
<p class="centre">£<%= @letter.lba_balance %></p>
</div>

<p>If you have made arrangements to pay your debt or have cleared your arrears in the last 7
days, please ignore this letter.
</p>

<p>If you have not made any arragement to pay your debt despite reminders to you, payment
of the full amount is due.
</p>

<h2>What if I am currently experiencing financial difficulties?</h2>
<p>
We are currently aware of a valid reason for your non_payment. If you are facing financial
difficulties, please complete the enclosed forms to allow us to assess your current
circumstances and the options available to uo
<p>

<h2>If you are intending to return these forms, please ensure they are received by the
Council no later than <%= @sending_date + 31.days %> </h2>
<p>An Information Sheet is also enclosed detailing independent organisations who offer free,
impartial and non-judgemental advice to you should you prefer this option.
</p>

<h2>What if I cannot pay off all my debt at the moment?</h2>
<p> If  you  are  unable  to  settle  your  account  in  full  and  would  like  to  discuss  your  arrears  or  to arrange an instalment plan, please contact our Leasehold Services team on 020 8356
2299. Government  assistance  maybe  available  towards  payment  of  your  service  charges  if
you qualify.
</p>

<h2>What is the breach of lease?</h2>
<p>By a lease/transfer dated <%= @letter.orginal_lease_date%> made between <%= @letter.orginal_leaseholders%> and the
Mayor and Burgesses of the London Borough of Hackney for the premises known as <%= @letter.property_address%>.
This lease was assigned/transferred to <%= @letter.orginal_leaseholders%> on the <%= @letter.orginal_lease_date%>. Under the terms of this lease/transfer, you
covenanted to pay ground rent and service charge by way of additional rent.
</p>

<p>
In breach of said covenants, you have failed to pay service charge and there is a total sum
of <%= @letter.total_collectable_arrears_balance %> outstanding in respect of these invoices
</p>

<h2>What are the Council's intentions?</h2>
<p>
Failure to make payment or contact us by <%= @sending_date + 31.days %> will result in the issue of
proceedings in the County Court without further notice. Should this be necessary, in addition
to Court costs, the Claim will be increased by up to 8% interest.
</p>

<p>
If you wish to pay by debit or credit card over the phone then kindly call 020 8356 2299
between 9:00am to 5:00pm.  If you would like to pay by cheque, cheques should be made
payable to ‘London Borough of Hackney’. Details of these payment options are enclosed.
</p>

<p>
Should you make payment after the 30 days has elapsed but before a Claim is sent for
issuing, you should contact the Council immediately or you may still be at risk for court costs.
Similarly, paying after a Claim has been sent for issuing will result in you being liable for
interest and costs.
</p>

<p>
If a County Court Judgement is obtained and you still have not paid the arrears, we will have
no option but to take further action against you. This would include issuing a forfeiture notice
which will incur an additional cost of £120.00 and where applicable, we will contact your
mortgage lender to advise them of our intentions to pursue recovery of this debt.
</p>

<p>
We ask that you make arrangements for the payment within 30 days of this letter to avoid
this matter being referred to our legal advisors for the recovery of this debt.
</p>

<p>
Should you have any queries in respect of this matter please contact <strong>Leasehold Services on 020 8356 2299.</strong>
</p>

<p>
Yours sincerely,<br>
Easton Davis<br>
Income and Disputes Resolution Team Leader<br>
<strong>Leasehold & Right to Buy Services</strong>
</p>
</div>

<%= @payment_options_lba %>

<div>
<h2 class="centre"><strong>ANNEX 1 INFORMATION SHEET</strong></h2>

<p class="centre"><strong>You have recieved this notcie because a business intends to take you to court in
relation to a debt. Thiws notice tells you what to do nexrt, including how to avoid
court action. Please read it carefully.</strong></p>

<h2>What should I do now to make sure I am not taken to court unnecessarily?</h2>

<p>Read the enclosed letter from the business very carefully. Think about whether you owe
the debt and whether the amount is correct. The letter should provide information about
how much money you owe and any interest and fees added to the debt. If it doesn’t, ask
the business for more information.
</p>

<p>Once you have read the letter, consider the following options.</p>
<ul>
<li><strong>Seeking debt advice.</strong></li>
<p>If you are in financial difficulty or need advice to help you work out whether you owe the
debt, or how you might pay the debt, contact a debt advisor (particularly if you haven’t
been in contact with the business for a number of years).
</p>

<p>The following organisations offer free, impartial and non-judgemental advice:</p>

<table>
<tr>
<td>Citizens Advice</td>
<td>03444 111 444(England)<br>
03444 772 020(Wales)</td>
<td>www.citizensadvice.org.uk</td>
</tr>
<tr>
<td>Civil Legal Advice</td>
<td>0345 345 4345</td>
<td>www.gov.uk/civil-legal-advice</td>
</tr>
<tr>
<td>StepChange Debt Charity</td>
<td>0800 138 1111 (Freephone)</td>
<td>www.stepchange.org</td>
</tr>
<tr>
<td>National Debtline</td>
<td>0808 808 4000 (Freephone)</td>
<td>www.nationaldebtline.org</td>
</tr>
<tr>
<td>AdviceUK</td>
<td>0300 777 0107</td>
<td>www.adviceuk.org.uk</td>
</tr>
<tr>
<td>Christians Against Poverty</td>
<td>0800 328 0006 (Freephone)</td>
<td>www.capuk.org</td>
</tr>
</table>

<p class="centre"><strong>It is recommended that you get debt advice if you have any doubt about whether
you owe the debt or whetcher you can pay it now.</strong></p>

<p>If you don’t have a copy of the agreement (contract) between you and the business, and
you need this to decide what to do next or to help you get debt advice, you can ask the
business to provide you with a copy.</p>

<li><strong>Speaking to the business.</strong></li>
<p>If you agree you owe the debt and want to talk to the business about payment terms, or if
you have any questions or concerns, get in touch with the business as soon as possible.
Their contact details should be in the letter they sent you.
</p>

<li><strong>Filing in the Reply Form.</strong></li>
<p>If you have not been able to resolve the matter by speaking to the business, you should fill
in the Reply Form that was provided with the letter from the business, and then send it
back to the business. You should complete the Reply Form with as much information as
possible to avoid court action being taken against you.
</p>
</ul>

<h2>How long do I have to fill in the Reply Form?</h2>
<p>You only have <strong>30 days</strong> from the date at the top of the letter from the business to send
back the Reply Form. If the business does not get your Reply Form withing 30 days, it
could <strong>take you to court</strong> in relation to the debt. Make sure you allow time for posting.
<br>
<br>
If a court orders you to pay an amounr of money (called "having judgement entered against
you"), details of the judgement will usually be entered on the Register of Judgements,
Orders and Fines. Most entries stay on the Register for six years unless you pay the
amount you owe within one month of the judgment
<br>
<br>
Organisations such as banks, buliding societies and credit companies use the information
on the Register when someone applies for credit, such as a loan or overdraft. It helps
them decide whether or not that person would be able to pay off a debt.
</p>

<h2>What happens if I fill in and return the Reply Form in time?</h2>
<p>If you return the Reply Form within 30 days, you and the business will have at least a
further 30 days to discuss the debt, or for you to seek debt advice, before the business
takes you to court. During that time you should discuss with the business how you can
resolve the matter, ideally without going to court.
<br>
<br>
If you request more information in the Reply Form, the business must wait at least 30
days after it gives you that information before taking you to court.
</p>

<h2>Where can I find out more?</h2>
<p>This Information Sheet is a summary of your rights and responsibilities under the
Pre-Action Protocol for Debt Claims. Where a business and an individual disagree about a
debt claim, the Protocol tells them what they should do before they go to court. If you want
to know more, the full Protocol is available at:<br>
https://www.justice.gov.uk/courts/procedure-rules/civil/protocol.
</p>
</div>

<%= @reply_form_lba %>
