<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="296px" height="53px" viewBox="0 0 2960 530" preserveAspectRatio="xMidYMid meet" class="hackney-logo">
  <g id="layer101" fill="#08624c" stroke="none">
    <path d="M2640 480 c0 -49 1 -50 29 -50 17 0 32 -4 35 -9 3 -5 -9 -49 -27 -98 -30 -83 -32 -86 -35 -50 l-3 37 -105 0 c-86 0 -104 3 -104 15 0 24 47 42 71 27 19 -12 139 -17 139 -6 0 3 -10 19 -21 36 -28 39 -75 58 -144 58 -88 0 -143 -36 -166 -110 -5 -18 -8 -5 -8 43 l-1 67 -65 0 -65 0 0 -105 c0 -89 -3 -107 -16 -112 -38 -14 -49 9 -52 116 l-3 101 -134 0 -134 0 -28 -50 c-15 -27 -31 -50 -35 -50 -5 0 -8 23 -8 50 l0 50 -65 0 -65 0 0 -41 0 -42 -21 27 c-30 39 -71 56 -131 56 -105 0 -168 -59 -168 -159 0 -103 59 -161 163 -161 69 0 122 22 142 59 13 24 14 19 15 -71 l0 -98 65 0 65 0 0 93 1 92 30 -37 c30 -37 32 -38 100 -38 38 0 69 4 69 8 0 4 -22 30 -50 57 -27 27 -50 53 -50 57 0 5 25 45 55 91 l55 82 0 -148 0 -147 60 0 c48 0 60 3 60 16 0 14 2 14 22 0 13 -10 44 -16 75 -16 67 0 100 26 112 90 5 25 9 37 10 26 2 -33 40 -83 77 -101 27 -13 55 -16 106 -13 67 4 72 6 106 43 19 21 32 31 29 21 -25 -65 -25 -66 47 -66 l65 0 16 57 c9 32 20 69 24 83 l8 25 7 -30 c4 -17 14 -54 22 -82 l15 -53 64 0 c36 0 65 2 65 5 0 3 -28 82 -62 177 -77 216 -87 228 -187 228 l-71 0 0 -50z m-1133 -150 c13 -15 30 -20 70 -20 52 0 53 0 53 -30 0 -30 0 -30 -59 -30 -50 0 -59 -3 -64 -20 -12 -47 -77 -5 -77 50 0 31 26 70 46 70 8 0 22 -9 31 -20z m1013 -98 c0 -28 -56 -42 -78 -20 -21 21 -13 28 33 28 25 0 45 -4 45 -8z"/>
    <path d="M81 425 c-57 -52 -81 -110 -81 -195 0 -50 6 -83 21 -115 20 -43 89 -115 109 -115 6 0 10 35 10 85 l0 85 115 0 115 0 0 -85 c0 -54 4 -85 11 -85 23 0 77 53 105 102 25 46 29 64 29 128 0 88 -19 135 -78 192 -60 58 -67 53 -67 -47 l0 -85 -115 0 -115 0 0 85 c0 50 -4 85 -10 85 -5 0 -28 -16 -49 -35z"/>
    <path d="M590 225 l0 -215 70 0 70 0 0 75 0 75 55 0 55 0 0 -75 0 -75 70 0 70 0 0 150 0 149 24 -23 c20 -21 60 -34 151 -48 25 -4 31 -33 9 -42 -9 -4 -27 0 -40 9 -13 8 -45 15 -74 15 -46 0 -50 -2 -50 -23 0 -13 12 -34 26 -48 22 -21 37 -24 113 -27 99 -4 147 12 156 51 2 12 6 69 8 127 2 58 7 113 11 123 7 15 1 17 -57 17 -40 0 -67 -4 -69 -11 -3 -9 -9 -9 -25 0 -28 14 -105 14 -137 0 -13 -6 -29 -21 -34 -33 -10 -19 -11 -18 -11 12 l-1 32 -70 0 -70 0 0 -85 0 -85 -55 0 -55 0 0 85 0 85 -70 0 -70 0 0 -215z m588 106 c3 -21 1 -23 -25 -17 -15 4 -32 11 -37 16 -15 14 5 31 32 28 20 -2 28 -10 30 -27z"/>
  </g>
</svg>

<div class="top_space"></div>

<div class="right">
  <div class="sender_address">
    <strong>Leasehold & Right To Buy Service</strong> <br>
    Hackney Council <br>
    Hackney Service Street <br>
    1 Hillman Street <br>
    London <br>
    E8 1DY
  </div>

  <p>
    020 8326 2299 <br>
    service.charges@hackney.gov.uk
  </p>

  <p>
    Date: <%= Time.now.strftime("%d %B %Y") %>
  </p>

  <p>
    <strong>Your reference number:</strong>
    <%= payment_ref %>
  </p>
</div>

<div class="lessee_address">
  <strong><%= lessee_full_name %></strong> <br>
  <%= correspondence_address_one %> <br>
  <%= correspondence_address_two %> <br>
  <%= correspondence_address_three %> <br>
  <%= correspondence_postcode %>
</div>

<div>
  Dear <%= lessee_short_name %>,

  <p>
    <strong>Leaserholder of the property:</strong> <br>
    <%= property_address %>
  </p>

  <div class="green_box">
    Our records show that you still have the outstanding amount on your rent & service charge account:
    <h1>£<%= total_collectable_arrears_balance %></h1>
  </div>

  <p>
    <strong>
      It is important that your accounts are kept up to date as non-payment of your service charge
      is a breach of your lease agreement with Hackney Council.
    </strong>

  </p>

  <h2>What if I cannot pay off all my debt at the moment?</h2>
  <p class="no_top_margin">
    If you are unable to settle your account in full and would like to discuss your arrears or to arrange
    an instalment plan, please contact our Leasehold Services team on 020 8356 2299. Government
    assistance maybe available towards payment of your service charges if you qualify.
  </p>

  <h2>What if I current experiencing financial difficulties?</h2>
  <p class="no_top_margin">
    If you are experiencing financial difficulties, please contact your local Citizen Advice Bureau
    or contact us to discuss any assistance we may be able to offer.
  </p>
  <p>
    Please find enclosed further information on methods of payment.
  </p>
  <p>
    If you have already made a payment or entered into an arrangement to pay the balance,
    please disregard this letter.
  </p>
  <p>
    We look forward to receiving your payment within 14 days from the date of this letter.
  </p>

  <p>
    Yours sincerely,<br>
    Service Charge Team
  </p>
</div>
