<%= @logo %>
<div class="top_space"></div>
<%= @hackney_address %>

<%= @tenant_address %>

<div>
  <p>
    <%= @today_date %>
  </p>

  <p>
    Dear <%= @letter.title %> <%= @letter.surname%>
  </p>

  <div class="blue_box">
    <h3 class="no_top_margin">
      Rent Account balance: £<%= @letter.total_collectable_arrears_balance %><br>
      Account Number: <%= @letter.tenancy_ref %>
    </h3>
  </div>

  <p>
    There is still a problem with your rent account and we need to talk to you to help you to put things right.
  </p>

  <p>
    Please contact us as soon as you can. It is important that you work with us quickly so we can solve the problem before it becomes too late.
  </p>

  <div class="gray_box">
    <h3 class="no_top_margin">
      What you need to do:
    </h3>

    <p>
      Contact us in one of the following ways:
    </p>
    <ul>
      <li>
        By telephone on 020 8356 3100
      </li>
      <li>
        By email at <strong>income.services@hackney.gov.uk</strong>
      </li>
      <li>
        In person at Hackney Service Centre - the address is at the top of this letter
      </li>
      <li>
        Through someone who helps you, such as a friend, carer or advice agency like the Citizens Advice Bureau. We will ask them for proof that you have given them permission to discuss your account first.
      </li>
    </ul>
    <br>
  </div>

  <br>
  <div class="gray_box">
    <h3 class="no_top_margin">
      What will happen next?
    </h3>

    <p>
      If you contact us, it will help us to understand why your account is in arrears. We can help you if you are struggling financially by either telling you about benefits you might be entitled to, referring you for budgeting support or debt advice or making an affordable repayment agreement. We can only help you if you talk to us.
    </p>

    <p>
      If you don't talk to us, and we can't solve the problem, you will receive a Notice of Seeking Possession, which is the first step towards eviction. We want to avoid this.
    </p>
    <br>
    </div>

  <p>
    You can view your rent account and make a payment at any time by visiting our website - <strong>www.hackney.gov.uk/rentaccount</strong> using your payment reference number, shown above.
  </p>

  <p>
    Yours sincerely
  </p>

  <p>
    Credit Controller
    <br>
    London Borough of Hackney
  </p>
</div>

<%= @payment_options %>

