<h1>Test PDF?</h1>
<ul>
  <li>payment_ref: <%=  @letter.payment_ref %></li>
  <li>tenancy_ref: <%=  @letter.tenancy_ref %></li>
  <li>forename: <%= @letter.forename %></li>
  <li>surname: <%= @letter.surname %></li>
  <li>formatted address: <%= @letter.tenant_address %></li>
</ul>
