<h1>Test PDF?</h1>
<ul>
  <li>payment_ref: <%=  @letter.payment_ref %></li>
  <li>tenancy_ref: <%=  @letter.tenancy_ref %></li>
  <li>forename: <%= @letter.forename %></li>
  <li>surname: <%= @letter.surname %></li>
  <li>address_line1: <%= @letter.address_line1 %></li>
  <li>address_line2: <%= @letter.address_line2 %></li>
  <li>address_line3: <%= @letter.address_line3 %></li>
  <li>address_post_code: <%= @letter.address_post_code %></li>
  <li>total_collectable_arrears_balance: <%= @letter.total_collectable_arrears_balance %></li>
</ul>
