<h1>Test PDF?</h1>
<ul>
  <li>payment_ref: <%=  @letter.payment_ref %></li>
  <li>lessee_full_name: <%= @letter.lessee_full_name %></li>
  <li>correspondence_address_one: <%= @letter.correspondence_address_1 %></li>
  <li>correspondence_address_two: <%= @letter.correspondence_address_2 %></li>
  <li>correspondence_address_three: <%= @letter.correspondence_address_3 %></li>
  <li>correspondence_postcode: <%= @letter.correspondence_postcode %></li>
  <li>lessee_short_name: <%= @letter.lessee_short_name %></li>
  <li>property_address: <%= @letter.property_address %></li>
  <li>arrears_letter_1_date: <%= @letter.arrears_letter_1_date %></li>
  <li>total_collectable_arrears_balance: <%= @letter.total_collectable_arrears_balance %></li>
</ul>
